<div class="container">
  <h1 class="lead">Edit Article</h1>
  <% if @article.errors.any? %>
    <h2>The following errors prevented article from being saved</h2>
    <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end%>
  <%= form_with(model: @article, local: true) do |f| %>
    <p class="from-group">
      <%= f.label :title, {class: 'form-label'} %>
      <%= f.text_field :title, {class: 'form-input'} %>
    </p>
    <p class="form-group">
      <%= f.label :description, {class: 'form-label'} %>
      <%= f.text_area :description, {class: 'form-textarea'} %>
    </p>
    <p class="actions">
      <%= f.submit 'Update article', class: 'form-submit' %>
    </p>
  <% end %>
</div>
<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
