<h1 class="text-center mt-4"><%= @article.title %></h1>
<div class="row justify-content-center my-4">
  <div class="col-8">
    <div class="card shadow">
      <div class="card-header font-italic bg-light text-center py-3">
        <h5 class="card-title">by <%= @article.user.username if @article.user %></h5>
        <%= link_to gravatar_for(@article.user, size: 100, class: 'd-block'), user_path(@article.user) %>
        <% if @article.categories.any? %>
          <div class="mt-2">
            <%= render @article.categories %>
          </div>
        <% end %>
      </div>
      <div class="card-body text-center">
        <%= simple_format(@article.description, class: 'card-text text-left') %>
        <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
          <%= link_to 'Edit', edit_article_path(@article), class:'btn btn-outline-primary my-2 my-sm-0 mr-2' %>
          <%= link_to 'Delete', @article, method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-outline-danger my-2 my-sm-0' %>
        <% end %>
      </div>
      <div class="card-footer bg-light text-center text-muted py-3">
        Created about <%= time_ago_in_words(@article.created_at) %> ago, edited about <%= time_ago_in_words(@article.updated_at) %> ago
      </div>
    </div>
  </div>
</div>
