  <% articles.each do |article| %>
  <div class="row justify-content-center my-4">
    <div class="col-8">
      <div class="card shadow">
        <div class="card-header font-italic bg-light text-center py-3">
          <% if article.user %>
            <h5 class="card-title">
              by <%= link_to article.user.username, user_path(article.user) %>
            </h5>
          <% end %>
        </div>
        <div class="card-body text-center">
          <h3><%= link_to article.title, article, class: 'text-success' %></h3>
          <p><%= truncate(article.description, length: 100) %></p>
          <%= link_to 'View', article, class:'btn btn-outline-success my-2 my-sm-0' %>
          <% if logged_in? && ( article.user == current_user || current_user.admin? )  %>
            <%= link_to 'Edit', edit_article_path(article), class:'btn btn-outline-primary my-2 my-sm-0' %>
            <%= link_to 'Delete', article, method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-outline-danger my-2 my-sm-0' %>
          <% end %>
        </div>
        <div class="card-footer bg-light text-center text-muted py-3">
          Created about <%= time_ago_in_words(article.created_at) %> ago, edited about <%= time_ago_in_words(article.updated_at) %> ago
        </div>
      </div>
    </div>
  </div>
<% end %>
